{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'practicelog.css' %}" />
    <script src="{% static 'JavaScript/script.js' %}" defer></script>
    <title>Practice Journal</title>
  </head>
  <body>
    <header>
      <img
        class="logo"
        src="{% static 'images/perfect-practice-logo.png' %}"
        alt="Perfect Practice logo"
      />
      <nav id="nav-menu">
        <ul>
          <li><a href="{% url 'home' %}">Home</a></li>
          <li><a href="{% url 'practice' %}">Practice</a></li>
          <li><a>Stats</a></li>
          <li><a>About</a></li>
        </ul>
      </nav>
      <div id="hamburger-div">
        <hr />
        <hr />
        <hr />
      </div>
    </header>
    <br />
    <hr />
    {% block content %} {% endblock %}
  </body>
</html>
