{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'practicelog.css' %}" />
    <title>Practice Journal</title>
  </head>
  <body>
    <h1>Welcome, Adam!</h1>
    <hr />
    <section id="intro-section">
      <p>It has been 1 day since your last practice session</p>
      <p>You have practiced for 3 hours and 45 minutes this week</p>
    </section>
    <section id="buttons-section">
      <button>Daily Practice</button>
      <button>View/Edit Goals</button>
      <button>Stats</button>
    </section>
  </body>
</html>
